.invitation-form.privacy
  %h1 Privacy statement

  %h2 Verwerking van persoonsgegevens door RoQua
  %p Voor RoQua is de bescherming van persoonsgegevens zeer belangrijk. RoQua respecteert uw privacy en spant zich in dat uw persoonlijke gegevens vertrouwelijk en in overeenstemming met de toepasselijke privacywetgeving worden behandeld.

  %p Uw bezoek aan Catja/Screensmart kan diverse doeleinden hebben:

  %h3 1. Patiënt

  %p Als u als patiënt gebruik maakt van Catja/Screensmart, worden er geen persoonsgegevens opgeslagen. Uw e-mailadres wordt gebruikt om een uitnodiging te verzenden, daarna wordt het e-mailadres verwijderd. De door u ingevulde vragenlijsten en eventueel aanvullende data worden wel opgeslagen en alleen gedeeld met de professional die de aanvraag heeft gedaan. Door het starten van een invulling gaat u akkoord dat uw gegevens door RoQua worden verwerkt en worden opgenomen in onze database.

  %h3 2. Zorgprofessional

  %p Als u als zorgprofessional gebruik maakt van Catja/Screensmart, wordt uw e-mailadres opgeslagen om het resultaat van een invulling te kunnen verzenden. Door het invullen van het uitnodigingsformulier gaat u akkoord dat uw gegevens door RoQua worden verwerkt en worden opgenomen in onze database.

  %h2 Uitwisseling met derden

  %p Uw gegevens worden door RoQua niet gedeeld met derde partijen.

  %h2 Beveiliging van persoonsgegevens

  %p RoQua zal passende technische en organisatorische maatregelen nemen om persoonsgegevens te beveiligen tegen verlies of tegen enige vorm van onrechtmatige verwerking. In dat kader zijn diverse maatregelen genomen, waaronder encryptie van data, versleutelde communicatie en behandeling van de data als zijnde vertrouwelijk.

  %h2 Gebruik van cookies

  %p Als u onze website bezoekt, kunnen wij cookies opslaan op uw computer. Deze cookies zijn nodig voor het functioneren van de website. Er worden geen persoonlijke gegevens opgeslagen in een cookie. Onze website maakt alleen gebruik van wettelijk toegestane cookies.

  %h2 Contact

  %p Als u de indruk heeft dat uw gegevens niet goed beveiligd zijn of er aanwijzingen zijn van misbruik, of indien u meer informatie wenst over de beveiliging van door RoQua verzamelde persoonsgegevens, neem dan contact met RoQua op via info@roqua.nl. catja.roqua.nl is een website van RoQua.
